{% extends 'blog/base2.html' %}


{% block content %}
	<div style="text-align:center"><h1>- Login -</h1></div>
	<br>

	<div style="text-align:center">
	  <form method="post" id="form_login">
		    {% csrf_token %}
		    <p>Username: {{ form.username }}</p>
		    <br>
		    <p>Password: {{ form.password }}</p>
		    <br>
	    <button type="submit">Login</button>
	    <br>
	    <br>
	    {% if form.errors %}
      		<p class="alert alert-danger mt-4 m-auto" style="width: 25%;">Username or Password not correct!</p>
  		{% endif %}
	  </form>
	</div>
{% endblock %}