{% extends 'blog/base2.html' %}

{% block content %}
	<div class="container">
		<div class="row text-center">
			<div class="col-md-6 offset-3">
			    <h2>Add Comment</h2>
			    <form method="POST" class="comment-form">{% csrf_token %}
			        <p>Name</p>
			        {{ form.author }}
			        <br>
			        <br>
			        <p>Comment</p>
			        {{ form.text }}
			        <br>
			        <br>
			        <button type="submit" class="send btn btn-success">Send</button>
			    </form>
		    </div>
	    </div>
    </div>
{% endblock %}