{% load static %}

<html>
    <head>
        <title>Django Girls blog</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap4-Beta/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script src="https://use.fontawesome.com/d4fa3e7cb8.js"></script>

    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <div class="text-right">
                    <a href="{% url 'post_new' %}" class="btn btn-sm btn-success mr-4">Add Post <span class="fa fa-plus"></span></a>
                    <a href="{% url 'post_draft_list' %}" class="btn btn-sm btn-warning mr-4">Unpublished <span class="fa fa-pencil"></span></a>
                    <a href="{% url 'logout' %}" class="btn btn-sm btn-info mr-4">Logout <span class="fa fa-sign-out"></span></a>
                </div>
            {% else %}
                <div class="text-right">
                    <a href="{% url 'login' %}" class="btn btn-sm btn-info mr-4">SignIn <span class="fa fa-user"></span></a>
                </div>
            {% endif %}
                
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        {% if user.is_authenticated %}
        <div class="text-right bg-dark border">
            <p class="mr-4 text-white">Hello {{ user.username }}</p>
        </div>
        {% endif %}
        <br>

        {% block content %}
        {% endblock %}
        

    </body>
</html>
