h1 a, h2 a {
    font-family: 'Lobster';

}

.page-header {
    background-color: #e98800;
    margin-top: 0;
    padding: 20px 0;

}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin-left: 30px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.post {
    margin-bottom: 70px;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.single{
	text-align: center;
	
}

.save{
    float: right;
}

.post-form{
    width: 60%;
}

.post-form textarea, .post-form input {
    width: 100%;
}

/*.comment-form{
    width: 50%;
}

.comment-form textarea, .comment-form input {
    width: 100%;
}*/